// Dato extra al json de un datatable
// Para escribirlo
$output = array(
        "draw" => $_POST['draw'],
          ...
        "locales_id" => $locales_id,
    );

// Para leerlo
table_locales.on( 'xhr', function () 
{
    var json = table_locales.ajax.json();
    locales_id = json.locales_id;
} );



// Retornar un campo especifico de una consulta
return $query->row()->mayor_descuento;


// Subquery 'a mano'
$this->db->select('articulo_id as id, 
	    				   articulo_nombre as nombre, 
	    				   articulo_codigo as codigo, 
	    				   animal_nombre as animal, 
	    				   rubro_nombre as rubro, 
	    				   articulo_medicados as medicados, 
	    				   articulo_imagen as imagen, 
	    				   marca_nombre as marca');
		$this->db->from($this->table);
		$this->db->join('animal', 'articulo_animal_id = animal_id');
		$this->db->join('rubro', 'articulo_rubro_id = rubro_id');
		$this->db->join('marca', 'articulo_marca_id = marca_id', 'left');
		$this->db->join('articulo_tamanio', 'articulo_id = articulo_tamanio_articulo_id', 'left');
		$this->db->join('articulo_raza', 'articulo_id = articulo_raza_articulo_id', 'left');
		$this->db->where('articulo_id NOT IN (
			SELECT articulo_presentacion_articulo_id 
			FROM local_articulo 
			JOIN articulo_presentacion ON local_articulo_articulo_presentacion_id = articulo_presentacion_id
			WHERE local_articulo_local_id = ' . $local_id . ')', NULL, FALSE);


// Recarga tabla (sin modificar filtros)
var table = $('#table_productos').DataTable();
table.draw();


// Update con JOIN
$this->db->update('local_articulo JOIN articulo_presentacion on local_articulo_articulo_presentacion_id = articulo_presentacion_id', $data, $where);


// Borra ultimo caracter
$vehiculos = substr($vehiculos, 0, -1);


// Permite mostrar un modal sobre otro
// Es necesario que el modal que se muestra sobre otro modal esté ANTES en el html

// En el botón que abre los modales
data-toggle="modal" data-target="#modal_cartilla_mascota" --> No es necesario invocar a modal.show()


$('#modal_detalle_vacuna').on('show.bs.modal', function () 
{
  $('#modal_cartilla_mascota').removeClass('muestra-modal');
  $('#modal_cartilla_mascota').addClass('oculta-modal');

})

$('#modal_detalle_vacuna').on('hide.bs.modal', function () 
{
  $('#modal_cartilla_mascota').removeClass('oculta-modal');
  $('#modal_cartilla_mascota').addClass('muestra-modal');

})


// Jquery: Llamar a una función al terminar otra función
generarConsulta().done(arma_select_servicio);

var generarConsulta = function() 
{
	var html_cubo = '';
	...

    return $.ajax({
        url: BASE_PATH + '/Estadistica/ajax_cubo2',
        type: "POST",
        data: data_post,
        dataType: "JSON",
        success: function(data)
        {
        ...
        },
        // Error no manejado
        error: function (jqXHR, textStatus, errorThrown)
        {
		...
        }

    });
}

function arma_select_servicio()
{
	...
}


MODALES
 // Evento cuando se cierra un modal
$(document).on('hidden.bs.modal', function (event) {

  /*
  if ($('.modal:visible').length) {
    $('body').addClass('modal-open');
  }
  */
});


// Evento cuando se muestra un modal
$(document).on('shown.bs.modal', function (event) {

  /*
  if ($('.modal:visible').length) {
      alert('shown.bs.modal');
    $('#modal_cartilla_mascota').addClass('modal-open');
  }
  */
});



DEFINIR TRES TAMAÑOS DE PORTADAS

<span class="hidden-xs hidden-sm">
DESKTOP
</span>

<span class="hidden-xs hidden-md hidden-lg">
TABLET
</span>

<span class="visible-xs">
MOBILE
</span>


// CHECKBOX DESHABILITADO
disabled = ' onclick="return false;" ';
css_disabled = ' css-input-disabled ';

<label class="h5 css-input css-checkbox css-checkbox-datos-tab ' + css_disabled + ' ">
  <input type="checkbox" ' + checked + disabled + '" ...
</label>


// FECHAS CON TIMEZONE DE ARGENTINA
$date = new DateTime("now", new DateTimeZone('America/Argentina/Buenos_Aires'));
$hoy = $date->format('Ymd');



// CREA CALENDARIO PARA CADA LOCAL
CREATE TABLE z_aux_calendario ( i tinyint );
INSERT INTO z_aux_calendario VALUES (0),(1),(2),(3),(4),(5),(6),(7),(8),(9);

CREATE TABLE calendario (
  calendario_fecha DATE NOT NULL PRIMARY KEY,
  calendario_local_id int(11) NOT NULL,
  calendario_local_abierto tinyint(1) NULL, 
  calendario_dia tinyint NULL,  
  calendario_mes tinyint NULL,    
  calendario_anio SMALLINT NULL,
  calendario_dia_semana tinyint NULL,   
  calendario_dia_semana_nombre VARCHAR(9) NULL,      
  calendario_mes_nombre VARCHAR(9) NULL,
  calendario_semana tinyint NULL,
  calendario_fin_de_semana tinyint(1) NULL,
  calendario_feriado tinyint(1) NULL,
  calendario_feriado_nombre VARCHAR(32) NULL
);

-- Por cada local
INSERT INTO calendario (calendario_fecha, calendario_local_id)
SELECT DATE('2017-01-01') + INTERVAL a.i*10000 + b.i*1000 + c.i*100 + d.i*10 + e.i DAY, 23
FROM z_aux_calendario a JOIN z_aux_calendario b JOIN z_aux_calendario c JOIN z_aux_calendario d JOIN z_aux_calendario e
WHERE (a.i*10000 + b.i*1000 + c.i*100 + d.i*10 + e.i) <= 11322
ORDER BY 1;

SET lc_time_names = 'es_ES';

UPDATE calendario
SET calendario_fin_de_semana = CASE WHEN dayofweek(calendario_fecha) IN (1,7) THEN 1 ELSE 0 END,
  calendario_local_abierto = CASE WHEN dayofweek(calendario_fecha) IN (1) THEN 0 ELSE 1 END, -- por defecto cerrado los domingos
  calendario_feriado = 0,
  calendario_anio = YEAR(calendario_fecha),
  calendario_mes = MONTH(calendario_fecha),
  calendario_dia = dayofmonth(calendario_fecha),
  calendario_dia_semana = dayofweek(calendario_fecha),
  calendario_mes_nombre = monthname(calendario_fecha),
  calendario_dia_semana_nombre = dayname(calendario_fecha),
  calendario_semana = week(calendario_fecha),
  calendario_feriado_nombre = '';